.main-layout {
  display: flex;
  min-height: calc(100vh - 5rem - 2.1rem);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  &__col {
    padding: 1rem;
    text-align: left;

    &:not(:last-child) {
      border-right: 1px solid grey;
    }

    &--1 {
      max-width: 20rem;
    }

    &--2 {

    }
  }
}
