@import 'src/theme/variables';

.post {
  &__header {
    
  }
  &__footer {
    min-height: 0;
    line-height: 1rem;
    border-top: 1px solid $LIGHT_BORDER_COLOR;
    padding-top: 0.5rem;
  }

  &__form {
    transition: .3s filter ease-in;

    &--blured {
      filter: blur(1rem);
    }
  }

  .layout-drawer__panel {
    background: $LIGHT_BACKGROUND_COLOR;
    border-left: 1px solid $DARK_BORDER_COLOR;
  }

  
}

.theme-dark {
  .post {
    &__footer {
      border-color: $DARK_BORDER_COLOR;
    }

    .layout-drawer__panel {
      background-color: $DARK_BACKGROUND_COLOR;
    }
  }
}
