.editor {
  display: flex;

  &__input,
  &__viewer {
    width: 50%;
    border: none;
    outline: 0;
    font-size: 1.4rem;
    resize: none;
    padding: 1rem;
    min-height: calc(100vh - 3.4rem);
    text-align: left;
  }

  &__input {
    border-right: 1px solid lightgray;
    font-family: 'Anonymous Pro', monospace;
  }

  &__viewer {
    font-size: 1rem;
    img {
      max-width: 100%;
    }
  }
}
