.editor {
  display: flex; }
  .editor__input, .editor__viewer {
    width: 50%;
    border: none;
    outline: 0;
    font-size: 1.4rem;
    resize: none;
    padding: 1rem;
    min-height: calc(100vh - 2rem);
    text-align: left; }
  .editor__viewer {
    font-size: 1rem; }
