.editor {
  display: flex; }
  .editor__input, .editor__viewer {
    width: 50%;
    border: none;
    outline: 0;
    font-size: 1.4rem;
    resize: none;
    padding: 1rem;
    min-height: calc(100vh - 3.4rem);
    text-align: left; }
  .editor__input {
    border-right: 1px solid lightgray;
    font-family: 'Anonymous Pro', monospace; }
  .editor__viewer {
    font-size: 1rem; }
    .editor__viewer img {
      max-width: 100%; }
