@import 'src/theme/variables';

.editor {
  display: flex;

  &__input,
  &__viewer {
    width: 50%;
    border: none;
    outline: 0;
    font-size: 1rem;
    resize: none;
    padding: 1rem;
    height: calc(100vh - 5.5rem);
    overflow: auto;
    text-align: left;
  }

  &__input {
    border-right: 1px solid $LIGHT_BORDER_COLOR;
    font-family: 'Anonymous Pro', monospace;
  }

  &__viewer {
    font-size: 1rem;
    img {
      max-width: 100%;
    }
  }
}

.theme-dark {
  .editor__input {
    background: #333;
    border-color: $DARK_BORDER_COLOR;
    color: white;
  }
}
