.image-upload {
  position: relative;
  text-align: center; }
  .image-upload-viewer__remove {
    position: absolute;
    border: none;
    background: none;
    top: 0;
    right: 0;
    cursor: pointer; }
  .image-upload-viewer__display {
    width: 100%;
    height: 10rem;
    background-size: contain; }
