.image-upload {
  position: relative;
  text-align: center;
  
  &-viewer {
    &__remove {
      position: absolute;
      border: none;
      background: none;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    &__display {
      width: 100%;
      height: 10rem;
      background-size: contain;
    }
  }
}
